@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Page of ExAws.WebApi</title>
</head>
<body>
    <div>
        Home Page of ExAws.WebApi @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss.fff")
    </div>
</body>
</html>
